services:
  postgres:
    image: postgres:15-alpine
    container_name: e-shop-postgres
    environment:
      POSTGRES_DB: eshop
      POSTGRES_USER: eshopUser
      POSTGRES_PASSWORD: eshop
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: e-shop-redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    restart: unless-stopped

volumes:
  pgdata:
  redisdata:
