spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/eshop}
    username: ${SPRING_DATASOURCE_USERNAME:eshopUser}
    password: ${SPRING_DATASOURCE_PASSWORD:change-me}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      timeout: 5000

server:
  forward-headers-strategy: framework
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,info

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:https://your-frontend-domain.com}
  allowed-methods: ${CORS_ALLOWED_METHODS:GET,POST,PUT,DELETE,PATCH,OPTIONS}
  allowed-headers: ${CORS_ALLOWED_HEADERS:Authorization,Content-Type}

jwt:
  secret: ${JWT_SECRET:?JWT secret is required}

yandex:
  storage:
    bucket: ${YANDEX_STORAGE_BUCKET:?Bucket is required}
    access-key: ${YANDEX_STORAGE_KEY:?Access key is required}
    secret-key: ${YANDEX_STORAGE_SECRET:?Secret key is required}
    endpoint: ${YANDEX_STORAGE_ENDPOINT:https://storage.yandexcloud.net}
