spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5433/eshop?sslmode=disable
    username: eshopUser
    password: eshop
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: false
    locations: classpath:/db/migration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  lifepay:
    enabled: false
    base-url: https://api.lifepay.ru
    api-key: ${LIFEPAY_API_KEY:}
    connect-timeout: 5s
    read-timeout: 10s

  redis:
    host: localhost
    port: 6379

cors:
  allowed-origins: "http://localhost:3000"
  allowed-methods: "*"
  allowed-headers: "*"

  jwt:
    secret: ${JWT_SECRET:MY_SUPER_SECRET_KEY}
